<h2 class="heading-title">live the<span>experience</span></h2>

    <div class="gallery-top">
        <div class="left-content">
            <div class="gallery-item">
                <a href="#" data-open="image0">
                    <img src="assets/img/gallery/gallery_01_small.jpg">
                </a>
            </div>
        </div>
        <div class="right-content">
                <div class="right-container">
                        <div class="gallery-item two-cols">
                            <a href="#" data-open="image1">
                                <img src="assets/img/gallery/gallery_02_small.jpg">
                            </a>
                        </div>
                        <div class="gallery-item">
                            <a href="#" data-open="image2">
                                <img src="assets/img/gallery/gallery_03_small.jpg">
                            </a>
                        </div>
                        <div class="gallery-item">
                            <a href="#" data-open="image3">
                                <img src="assets/img/gallery/gallery_04_small.jpg">
                            </a>
                        </div>
                        <div class="gallery-item two-cols">
                            <a href="#" data-open="image4">
                                <img src="assets/img/gallery/gallery_05_small.jpg">
                            </a>
                        </div>
                </div>
        </div>
    </div>
    
    <div class="gallery-bottom">
        <div class="gallery-item two-cols">
            <a href="#" data-open="image5">
                <img src="assets/img/gallery/gallery_06_small.jpg">
            </a>
        </div>
        <div class="gallery-item">
            <a href="#" data-open="image6">
                <img src="assets/img/gallery/gallery_07_small.jpg">
            </a>
        </div>
        <div class="right-content">
            <div class="gallery-item">
                <a href="#" data-open="image7">
                    <img src="assets/img/gallery/gallery_08_small.jpg">
                </a>
            </div>
            <div class="gallery-item">
                <a href="#" data-open="image8">
                    <img src="assets/img/gallery/gallery_09_small.jpg">
                </a>
            </div>
        </div>
    </div>
    
    {{#each gallery.gallery}}
            <div class="reveal medium" id="image{{@index}}" data-reveal data-animation-in="reveal-in" data-animation-out="reveal-out">
                <button class="close-button" data-close type="button">
                        <span aria-hidden="true">&times;</span>
                </button>
                <img src="{{this.url}}">
            </div>
    {{/each}}